#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.Main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: darkolivegreen;
  border-radius: 2em;
  padding: 2em;

  .Bee{
    width: 20em;
    height: 20em;
    border-radius: 2em;
  }

  .Fone{
    background-color: darkslategray;
    border-radius: 2em;
    padding: 2em;
  }

  img{
    width: 15em;
  }

  input, select, button {
    font: inherit;
    margin: 1em;
    text-align: center;
    border-radius: 20em;
    background-color:lightgreen;
    border: none;
  }
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
